<div class='home-title'>
  <img src="https://images.unsplash.com/photo-1481349518771-20055b2a7b24?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cmFuZG9tfGVufDB8fDB8fHww&w=1000&q=80" alt="DESCRIÇÃO_ALTERNATIVA">
  <h1>Welcome.</h1>
  <h2>My name is André Fonseca, and i'm a Full Stack Web Developer </h2>
  <p>As a Full-Stack Web Developer, my main goal is to create a
  good web enviroment, making easier for the user to navigate through.
  If you are looking for a experienced developer, fell free to <%= link_to 'contact', contact_path %> me.
  You can also see more of my work on the <%= link_to 'projects', project_path %> button below</p>
</div>

<div class='profile-pic'>
</div>


<div class='button'>
  <button>
    <%= link_to 'Contact', contact_path %>
  </button>
  <div>
    <button>
      <%= link_to 'About', about_path %>
    </button>
  </div>
  <div>
    <button>
      <%= link_to 'Projects', project_path %>
    </button>
  </div>
</div>
